<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if Devoured}}Devoured!{{else}}Not Devoured!{{/if}}
	</button>

	<button class="delete-devour" data-id="{{this.id}}">DELETE!</button>
</li>